.basicInformation {
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 16px 0;

    .basicInformation-title {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        margin-bottom: 24px;
        text-align: center;
    }
    .basicInformation-title-span{
        margin-left: 16px;
        color:#c993e9;
        font-size: 16px;
    }
    .basicInformation-declarer{
            color: #c993e9;
           

    }
    .basicInformation-container {
        // 容器使用 flex 布局
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
        .custom-checkbox-required {
            position: relative;
        }
    
        .custom-checkbox-required::before {
            content: '*';
            color: #ff4d4f;
            position: absolute;
            left: -8px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
            z-index: 1;
        }
}
.hobbyInformation{
    .hobbyInformation-title{
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        margin-bottom: 10px;
    }
      
}
.checkbox-required-item :global .ant-form-item-label{
    left:20px;
    top:24px;
    z-index:1;
}
